.topLabel{
   -fx-text-fill: #00008b;
   -fx-font-family: Verdana;
   -fx-font-size: 30;
-fx-margin-top: 15;
}

.txtSearch{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
-fx-font-size: 15;
}

.topVBoxL{
-fx-padding: 15;
-fx-spacing: 10;
}

.btnAdd{
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-font-size: 15;
    -fx-background-color: #00008b;
    -fx-border-radius: 15;
    -fx-border-color: black;
    -fx-font-weight: bold;
}

.btnAdd:hover{
-fx-cursor: hand;
-fx-background-color: white;
-fx-text-fill: #00008b;
}

.btnEdit{
-fx-background-radius: 15;
-fx-border-radius: 15;
-fx-text-fill: #00008b;
-fx-font-family: Verdana;
-fx-font-size: 15;
-fx-background-color: white;
-fx-border-color: #00008b;
-fx-font-weight: bold;
}

.btnEdit:hover{
-fx-cursor: hand;
-fx-background-color: #00008b;
-fx-text-fill: white;
}

.btnDelete{
-fx-background-radius: 15;
-fx-border-radius: 15;
-fx-text-fill: red;
-fx-font-family: Verdana;
-fx-font-size: 15;
-fx-background-color: white;
-fx-border-color: red;
-fx-font-weight: bold;
}

.btnDelete:hover{
-fx-cursor: hand;
-fx-background-color: red;
-fx-text-fill: white;
}

.CentervBoxR{
-fx-padding: 15px;
}

.paginationStyle .pagination-control .button, .paginationStyle .toggle-button{
    -fx-background-color: white;
-fx-font-family: Verdana;
    -fx-border-color: white;
    -fx-text-fill: #00008b;
    -fx-font-size: 18;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
 }

.paginationStyle .pagination-control .toggle-button:selected{
    -fx-background-color:  #00008b;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
 }

.paginationStyle {
    -fx-page-information-visible: false;
}

.paginationStyle > .pagination-control > .control-box {
    -fx-alignment: bottom-right;
}

.bottomLabel{
    -fx-font-family: Verdana;
    -fx-font-size: 15;
    -fx-text-fill: black;
}

.table-view .column-header, .table-view .column-header .label {
     -fx-background-color: white;
     -fx-text-fill: #00003b;
     -fx-font-size: 18;
     -fx-text-align: center;
     -fx-font-weight: bold;
 }

.table-view .cell {
    -fx-font-size: 20;
    -fx-alignment: CENTER;
}