.vbox{
-fx-background-color: white;
-fx-padding: 50 10 10 10;
-fx-spacing: 20;
}

.vbox2{
-fx-background-color: white;
}

.label{
-fx-font-family: verdana;
-fx-font-size: 15px;
}

.button{
-fx-font-family: Verdana;
-fx-font-size: 14px;
-fx-text-fill: white;
-fx-background-color: #3471cf;
-fx-border-color: transparent;
-fx-background-radius: 10px;
-fx-border-radius: 10px;
-fx-transition: 0.3s ease-in-out;
}

.button:hover{
-fx-cursor: hand;
}

.button:pressed{
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}