.Pane{
-fx-background-color: #00008b;
}

.label{
-fx-font-family: verdana;
-fx-font-size: 30;
-fx-padding: 10px;
-fx-border-insets: 10px;
-fx-background-insets: 10px;
}

.hBox{
-fx-spacing: 35;
}

.btnSi{
-fx-background-radius: 10;
-fx-border-radius: 10;
-fx-text-fill: white;
-fx-font-family: Verdana;
-fx-font-size: 15;
-fx-background-color: #00008b;
-fx-border-color: black;
-fx-font-weight: bold;
-fx-transition: 0.3s ease-in-out;
}

.btnSi:hover{
-fx-cursor: hand;
-fx-background-color: white;
-fx-text-fill: #00008b;
}

.btnSi:pressed{
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}

.btnCancelar{
-fx-background-radius: 10;
-fx-border-radius: 10;
-fx-text-fill: #00008b;
-fx-font-family: Verdana;
-fx-font-size: 15;
-fx-background-color: white;
-fx-border-color: #00008b;
-fx-font-weight: bold;
-fx-transition: 0.3s ease-in-out;
}

.btnCancelar:hover{
-fx-cursor: hand;
-fx-background-color: red;
-fx-text-fill: white;
}

.btnCancelar:pressed{
-fx-scale-x: 0.95;
-fx-scale-y: 0.95;
}